#main {
  background: #f8f8f8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

#app {
  position: relative;
  flex-grow: 1.5;
  width: 0rem;
}

.app {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.active {
    visibility: visible;
  }
}

#sidebar {
  padding-top: 2rem;
  background: #353535;
  color: white;
  min-width: 24rem;
  display: flex;
  flex-direction: column;

  nav {
    section h1 {
      background: #f8f8f8;
      color: #353535;


    }

    section > div > div > div > div {
      padding: .5rem 2rem;
      background: #454545;
    }

    h1 {
      padding: .5rem 1rem;
      margin: 0;
      text-transform: uppercase;
      font-size: inherit;
      font-weight: 800;

      cursor: pointer;

      transition: .05s linear background;

    }

    a {
      color: inherit;
      text-decoration: none;
      outline: none;
    }

  }
}

#title {
  display: flex;
  align-items: center;
  margin: 1rem;
  margin-bottom: .5rem;

  #logo {
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-start;

    svg {
      width: 4rem;
    }
  }


}


#terminal {
  font: .875rem "Roboto Mono", monospace;
  width: 0;
  flex-grow: 1;
  line-height: 1.25em;
  border-radius: .25rem;
  overflow: hidden;
  display: flex;
  border: 1px solid #aaa;
  margin: 2rem;

  .output {
    white-space: pre;
  }

  .stack {
    margin-top: 1.25em;

    &::before {
      content: "--- Data stack:";
      color: #888;
    }
  }

  ::selection {
    background: #ccf;
    color: inherit;
  }

}

#terminal-scroll {
  flex-grow: 1;
  overflow-y: auto;
}

#terminal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .5rem;
}

.input {
  display: flex;

  &::before {
    content: "IN: scratchpad";
    background: #ffb3b3;
    margin-right: .5rem;
    white-space: nowrap;
  }

  input {
    height: 1.25em;
    margin: 0;
    border: none;
    padding: 0;
    background: transparent;
    font: inherit;
    line-height: inherit;
    color: inherit;
    flex-grow: 1;
    outline: none;
    box-shadow: none;
    caret-color: red;

 }

}

#prompt-width {
  position: fixed;
  visibility: hidden;
  white-space: nowrap;
  width: 0;
  padding-left: 2em;
  height: 0;
}


#book {
  display: flex;

  #book-content {
    overflow-y: auto;
    padding: 2rem;
    flex-grow: 1;

    h1, h2 {
      margin: 0;
    }

    code, .code-block {
      font: .875rem 'Roboto Mono', monospace;
      border: 1px solid #aaa;
      border-radius: 2px;
      background: #eee;

    }

    code {
      padding: .125em .25em;
    }

    pre {
      padding: .5em;
      code {
        border: none;
        background: none;
        padding: 0;
      }
    }

    .code-block {
      position: relative;

      button {
        color: #777;
        position: absolute;
        top: -.5em;
        right: -.5em;
        padding: .125em .25em;
        background: #fff;
        border-radius: 2px;
        border: 1px solid #aaa;
        outline: none;
        cursor: pointer;

        &::-moz-focus-inner {
          border: none;
        }

      }

      pre {
        margin: 0;
      }
    }

  }

}

#foogle {
  margin: 2rem;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  input {
    margin: 1rem 0;
  }

  .results {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5em;

    .result {
    }
  }
  
  .result-link:link {
    text-decoration: none;
  }
  .result-link:visited {
    text-decoration: none;
  }
  .result-link:hover {
    text-decoration: underline;
  }
  .result-link:active {
    text-decoration: underline;
  }

  .result-vocabulary-link:link {
    text-decoration: none;
  }
  .result-vocabulary-link:visited {
    text-decoration: none;
  }
  .result-vocabulary-link:hover {
    text-decoration: underline;
  }
  .result-vocabulary-link:active {
    text-decoration: underline;
  }
}
